<h1>Art Content</h1>
<p>Hola Amigx!</p>
<div class="landing-grid">
  <% @articles.each do |article| %>
    <li>
      <%= article.title %>
    </li>
  <% end %>
</div>

<div class="landing-grid">
  <% @categories.each do |category| %>
    <div class='category-articles' %>
      <div class="d-flex flex-column">
      </div>
    </div>
  <% end %>
</div>

