// Only import libraries
@import 'bootstrap/scss/bootstrap';

.montserrat {
  font-family: montserrat, sans-serif;
}

.bg-linear-gradient {
  background:
    repeating-linear-gradient(
      -55deg,
      $light-gray,
      $light-gray 2px,
      $white 2px,
      $white 4px
    );
}

.dark-gray {
  color: $dark-gray;
}

.orange-border-bottom {
  border-bottom: 6px solid $dark-orange !important;
}

.simple-list {
  list-style-type: none !important;
}

.simple-link {
  text-decoration: none !important;
  color: $dark-gray !important;
  font-weight: bolder !important;
}

.top-rated {
  background-color: lightblue;
}

.bg-dark-orange {
  background-color: $dark-orange;
}

.bg-medium-orange {
  background-color: $medium-orange;
}

.landing-grid {
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

.article-title {
  color: $dark-orange;
}

.article-text {
  font-size: 18px;
}


.top-text {
  color: $white;
  font-size: 18px;
}


.bg-cover {
  object-fit: cover;
}

.w-25vw {
  width: 25vw;
}

