<footer class="d-flex flex-wrap justify-content-between align-items-center py-10 my-10 border-top footer">
    <div class="col-md-4 d-flex align-items-center">
      <span class="text-muted light-grey monsterrat">© 2021 Art Content, Inc</span>
    </div>
<ul class="nav col-md-4 justify-content-end d-flex light-gray">
      <li class="ms-3"><i class="fab fa-facebook-f"></i></li>
      <li class="ms-3"><i class="fab fa-twitter"></i></li>
      <li class="ms-3"><i class="fab fa-instagram"></i></li>
    </ul>
  </footer>